.container{
    max-width: 1000rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;

    &__left{
        flex:20%;
    }

    &__right{
        flex: 80%;
    }



}